{% extends "base.html.twig" %}

{% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}

{% block title %}Fiche contact{% endblock %}

{% block body %}
<div class="m-auto" style="width: 800px;">
    <h1 class="text-center my-4">Fiche Contact</h1>
    <p class="fst-italic my-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut, esse ducimus quia perspiciatis architecto minima eveniet enim animi, sunt nemo dolorem illum eius doloribus ipsum, veniam cum ab voluptates nobis.</p>
    {{ form(form) }}
</div>
{% endblock %}