{% extends "base.html.twig" %}

{% block title %}Test Efficience{% endblock %}

{% block body %}
<div class="mt-5 text-center">
    <h1>Exercice de mise en situation</h1>
    <h2>Onboarding Level - 1</h2>
</div>
<div class="mt-5 text-center">
    <a href="{{ path('contact_create') }}" class="btn btn-outline-info">Accès à la fiche contact</a>
</div>
{% endblock %}