<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
        <link rel="stylesheet" href="https://bootswatch.com/5/spacelab/bootstrap.min.css">
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <div class="container">

            {% for rubrique, messages in app.flashes %}
            <div class="alert alert-{{ rubrique }} text-center">
    	        {% for message in messages %}
                <p>{{ message }}</p>
    	        {% endfor %}
            </div>
	        {% endfor %}

        {% block body %}{% endblock %}
        </div>
    </body>
</html>
